
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    margin: 10px !important;
}

.moviecard{
    font-family: 'century gothic';
    margin-top: 20px !important;
    position: relative;
}
.rating-container{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 5px solid lime;
    text-align: center;
    position: absolute;
    left: 27px;
    bottom: -15px;
    color: #fff;
}
.rating-container h5{
    margin-top: 25px;
}