
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-brand{
    margin: 10px !important;
}

.container h5{
    margin-left: 5px;
    margin-top: 10px;
}
.card-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
.moviecard{
    font-family: 'century gothic';
    margin-top: 20px !important;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 24%;
}
.rating-container{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 4px solid lime;
    text-align: center;
    position: absolute;
    left: 15px;
    bottom: -15px;
   
}
.rating-container h5{
    margin-top: 20px;
    color: lime;
    font-weight: 600;
}

.form{
    padding: 0 19em;
}
.form .input{
    width: 300px;
    height: 45px;
    text-align: center;
    border-radius: 25px;
    border: none;
    background: #dbdbdb;
}
.form .input:focus{
    outline: none;
}
.form .button{
    width: 120px;
    height: 45px;
    border-radius: 25px;
    background: #000;
    border: none;
    color: #fff;
    margin-left: 5px;
}